#mapid { height: 90vh; }
.treeIcon{
    content:'';
    height:1rem !important;
    width:1rem !important; 
    border-radius:50px;
    color:greenyellow;
}
header{
    display:flex;
    height:10vh;
   
}
header  *{
    margin:auto;
}