#mapid { height: 90vh; }
.treeIcon{
    content:'';
    background-image:url("../src/46564.svg");
    height:1rem;
    width:1rem;
}
header{
    display:flex;
    height:10vh;
   
}
header  *{
    margin:auto;
}